body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
   width: 25VW;
   height: 15vh;
   margin-top: 25px;


   background-color: blue;
   font-size: 10px;
   
   color: cornsilk;

   border-style: double;
   border-radius: 25px;
}

li{
  list-style-type: none;
}